
  <!-- ======= Footer ======= -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>marry</span>Designer</h2>
                </div>

                <p>
                  Tutafute kwenye mitandao yetu ya kijamii kupitia;
                </p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Kwa taarifa zaidi</h4>
                <p>
                  Kwa taarifa wasiliana MarryDesigner kupitia maelezo hapo chini;
             </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +255 622 274 930</p>
                  <p><span>Email:</span> MarryDesigner@gmail.com</p>
                  <p><span>Working Hours:</span> 07am-11pm</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            {% for x in home_header_image %}
         <img src="   {{x.image.url}}" style="height: 300px;" alt="">

            {% endfor %}

          </div>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
